syntax: glob
build
parser.out
parsetab.py
cscope.files
cscope.out
*.pyc
*~
.*.swp
m5out
src/doxygen
gem5/ext/dramsim2/DRAMSim2
gem5/ext/mcpat/regression/*/*.out
gem5/util/m5/*.o
gem5/util/m5/*.a
gem5/util/m5/m5
gem5/system/arm/dt/*.dtb
